body {
  background-color: #ffb6c1;
}

img {
  max-width: 100%;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

h1 {
  color: #ffffff; /* White color */
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
}
