  <style>
            :root
            {
                --baby pink: rgb(100,72,81);
                background-color: var(--baby pink);
            }
            img
            {
            diplay:blk:
            }
            h1, h2
                {
                    color: whitesmoke;
                }
                p
                {
                    color: whitesmoke;
                }
        </style>
