@font-face
{
    font-family: UNCHeadings;
    src: url('fonts/Arvo-Regular.ttf');
}

@font-face
{
    font-family: UNCFooter;
    src: url('fonts/OpenSans.ttf');
}

@font-face
{
    font-family: Dune;
    src: url('fonts/Quantum.ttf')
}

*
{
    font-family: 'Dune';
}

table img
{
    height: 100px;
}
table, th
{
    border: 3px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: "Comic Sans MS";
}
th
{
    font-weight: bold;
    font-size: 18pt;
}
th ~ td
{
    font-family: "Comic Sans MS";
    border: 1px dotted black;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    list-style-position: inside;
    font-size: 14pt;
}
ul
{
    padding-inline-start: 0px;
}
#headerrow
{
    background-color: goldenrod;
}
li{
    display:block;
}
h1
{
    font-size: 3vw;
    font-family: 'Dune';
}
body > img
{
    width: 98vw;
}
