
		h1 {
			font-family: "Pacifico", serif;
		}
		
		body {
			font-family: "Lato", sans-serif;
			line-height: 1.5;
		}
:root
{
  --Baby-Pink: #F4C2C2;
  --White: #ffffff;
  --Grey: #808080;
}
body
{
    background-color: var(--Baby-Pink);
}
*
{
    color: var(--White);
    text-align: center;
}
h1
{
    font-size: calc(12pt + 4vw);
}
nav
{
    border: 7px var(--White) solid;
}
section
{
    border: 5px var(--White) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--Grey);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
