<style>
 td
            {
              border: 3px solid blue;  
            }
            th, table
            {
              border: 3px solid blue;  
            }
            table
            {
                border-collapse: collapse;
                        color: blue; 
            }
            td, th 
            {
                padding-left: 20px;
                padding-right: 20px;
            }

.bubble {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: bubble-animation 3s linear forwards;
}

@keyframes bubble-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
</style>
