<style>
            td
            {
              border: 3px solid pink;  
            }
            th, table
            {
              border: 3px solid pink;  
            }
            table
            {
                border-collapse: collapse;
            }
            td, th 
            {
                padding-left: 20px;
                padding-right: 20px;
            }
        </style>
